
<img src='/img/bows.jpg' />
<div class="create_session">
  <h3>You are logged in as: <%= @user.name %></h3>
  <h2><a href="/shooting">Start a new shooting session:</a></h2>
</div>

<div id='yoursessions'><h3>Here are your recorded shooting sessions:</h3></div>

<div id='score_container'>
<% @sessions.each do |session|%>
  <h3 id='h3<%= session.id %>'><%= session.name %> on <%= session.date %> </h3>
  <div class='card' id='sc<%= session.id %>'>Show stats</div><div class='deleteMe' id='<%= session.id %>'>Delete</div>
<% end %>
</div>

<p><a href="/">Back to index</a></p>